secrets:
    - 'Change me to something unique.'

# last.fm images
api_key: 'abcdef123456'

PATH: 'Audio/'
ARTIST: 'artists.dat'
PLAYING: 'now_playing.dat'
LOCAL: '127.0.0.1'
# your local network IP
NETWORK: '192.168.100.50'
TRACK_INFO: 1
