body {
  padding: 10px;
//  background-color: #FAF9F6;
  text-align: left;
}

@media (max-device-width: 600px) {
  body {
    padding-top: 20px;
  }
}

a:link {
  color: black;
//  text-decoration: none;
}

/* remove the original arrow */
select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i.fa {
  float: right;
  margin-top: -1.7em;
  margin-right: 0.5em;
  /* this is so when you click on the chevron, the click goes to the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  color: #6c757d;
  background-color: #fff;
  padding-right: 5px;
}

#myAudio {
  vertical-align: middle;
}

#warning {
  border: 1px solid red;
  color: red;
  display: inline-block;
}

#footer {
  font-size: small;
}
